name: NestJS-UnitTest

on:
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15.3-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: api
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      maildev:
        image: maildev/maildev
        ports:
          - 1080:1080
          - 1025:1025

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: 'Setup env'
        run: cp env-example .env

      - name: Build Docker image
        run: docker-compose -f docker-compose.yaml build

      - name: Exporting project name
        run: export COMPOSE_PROJECT_NAME=calamidade-backend

      - name: Start Docker services
        run: docker-compose -f docker-compose.yaml up -d

      - name: Wait for services to be ready
        run: docker-compose -f docker-compose.yaml ps

      - name: Run NestJS tests
        run: docker-compose -f docker-compose.yaml exec api npm run test:e2e

      - name: Shutdown Docker services
        run: docker-compose -f docker-compose.yaml down
